
.SMSU-Tweet{
    display:flex;
    height: 15vh;
    align-items: center;
    justify-content: space-between;
    border:none;
    background-color:white;
    position: fixed;
    width: 100%;

}
.header{
    margin-left: 7%;
}
.anchors{
    display:flex;
    gap:25px;
    justify-content: space-evenly;
    margin-right: 5%;
    
}
.anchors button{
    height:6vh;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-image: url(../images/passion-led-us-here.jpg);
    background-size: cover; /* Ensures the image covers the entire div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the div */
    }
.innerfirst{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: large;
    height: 40%;
    
}
.innerfirst h3{
    font-weight:lighter;
    width:100%;
    font-size: xx-large;
}
.innerfirst h1{
    width:100%;
    font-size: 500%;
    margin-bottom: 20px;
}
.buttons{

    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 200px;
    
}
button{
    color:whitesmoke;
    width: 200px;
    height: 200%;
    font-size: 0.875rem;
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:lighter;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-color: #32aa27;
    background-color: #32aa27;
    border: none;
}
.new{
    margin-left: -20px;
}

//Format Date and time
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
}

#month, #day, #year, #hour, #minute {
    font-size: 48px;
}

#month {
    margin-right: 10px;
}

#day {
    margin-left: 5px;
    margin-right: 5px;
}

#year {
    margin-left: 10px;
}

#time-am {
    font-size: 36px;
    font-weight: normal;
    margin-left: 200px;
}

#hour {
    font-size: 40px;
}

#minute {
    font-size: 40px;
}

#amPm {
    font-size: 24px;
}

.second{
    background-image: url(../images/b28dc686-5563-11ef-bb4f-0242ac110002-jpg-hero_image.jpeg);
    background-size: cover; /* Ensures the image covers the entire div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the div */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innersecond img{
    margin-right: 20%;
    width: 30%;
    height: 80vh;
    float:right;
}
.dinnerS{
    height: 70vh;
    padding-top:10%;
    margin-left: 10%;
    
    width:25%;
    float: left;
}
.dinnerS h2{
    font-size: 1.5rem;
    font-style: normal;

    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 15px;
}
.dinnerS p{
    font-weight:lighter;
    line-height: 1.25;
    letter-spacing: 1px;
}
.thired{
    background-color: whitesmoke;
    display: flex;
    gap:50px;
    align-items: center;
    justify-content: center;
    height: 75vh ;

}
.boxes{
    width: 25%;
    background-color: white;
    padding-bottom:10px;
}
.boxes img{
    width: 100%;
    margin-bottom: 20px;
}
.boxes h3{
    padding-left: 10px;
    font-size: x-large;
}
.boxes p{
    padding-left: 10px;
    padding-bottom: 10px;
}
.en{

    background-color: whitesmoke;
}
.a{
    text-decoration: none;
    padding:10px;
    font-size: large;
}

/* h1{
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    color:rgb(18, 18, 104);
} */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* .buttons{
    background-color: rgba(172, 214, 21, 0.877);
    height:30vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
} */
/* button{
    background-color:rgba(172, 214, 21, 0.877);
    color:rgb(18, 18, 104);
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    border-color: rgb(18, 18, 104);;
    border-radius:20%;
    width: 200px;
    height: 200px;
} */
  